@import url('https://fonts.googleapis.com/css2?family=Days+One&display=swap');

body{
    background: url(background.jpg);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

}

h1 {
    font-size: 50px;
    margin: 20px;
}

.container{
    font-size: 30px;
    background: rgba(27, 27, 83, 0.3);
    height: 700px;
    width: 800px;
    text-align: center;
    padding: 30px;
    border-radius: 12%;
    font-family: 'Days one';
    color: white;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.30);
}

#horarioBrasilia{
    padding: 10px; /* tenho que ajustar */
    margin: auto 10px;
    font-size: 60px;
    text-align: center;
    position: static;
} 

#imagemDoDia{
    width: 400px;
    height: 400px;
}

#posicaoimg{
    margin: 10px;
}
